.navbar {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    padding: 38px;
}

.leftnav {
    display: flex;
    
}

.nav>.leftnav>div {
    margin-right: 20px;
    font-size: 0.9em;
    justify-content: space-between;
    text-transform: uppercase;
}

.brand {
    font-weight: bolder;
    color: darkviolet;
}

.navlink {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color:yellow;
    text-decoration: none;
    transition: color 0.5s;
    font-weight: bolder;
    font-size: 20px;
}

.navlink:hover {
    border-bottom: 1px solid black;
}

.navlink a:hover {
    color: black;
}

.fullpage {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(2, 252, 198);
    font-size: x-large;
    font-weight: bolder;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
}

.login_bt {
    width: 200px;
    height: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
}
.login_bt {
    border-radius: 4px;
    background-color: #0eb833;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    margin-left: 30px;
  }
  
  .login_bt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .login_bt span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .login_bt:hover span {
    padding-right: 25px;
  }
  
  .login_bt:hover span:after {
    opacity: 1;
    right: 0;
  }